:root {
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;

  height: 100%;
}

[data-theme='dark'] {
  --font-color: #eee;
  --background-color: #333;
  --link-color: lightblue;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}
